<%- include('header') -%>
<%- include('navbar') -%>
<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <h1 class="mb-4 mt-3">
                IoT Greenhouse
            </h1>
            <h2 class="mb-4 mt-3 text-start" id="greeting"></h2>
            <script> document.getElementById('greeting').textContent = (new Date().getHours() >= 7 && new Date().getHours() < 19) ? '👋 Good morning' : '🌒 Good evening'; </script>
            <% sensorboxes.forEach(function(sensorbox){ %>
                <div class="container mb-3 border border-success rounded-4">
                    <div class="row">
                        <div class="col-md-8">
                            <h5 class="text-start">
                                <a href="/sensorbox/<%= sensorbox.serialNumber %>" class="text-decoration-none">
                                    Sensorbox #<%= sensorbox.serialNumber %> | <%= sensorbox.greenery.name %>
                                </a>
                            </h5>
                        </div>
                        <div class="col-md-4 text-end">
                            <%= sensorbox.supervisor.username %>
                            <i class="fa-solid fa-pencil mt-2"></i>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-8">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-3 border border-success rounded-4 p-0">
                                        <canvas style="display: block; width: 100%; height: 100%;" id="<%= sensorbox.serialNumber %>-temp"></canvas>
                                    </div>
                                    <div class="col-md-3 border border-success rounded-4 p-0">
                                        <canvas style="display: block; width: 100%; height: 100%;" id="<%= sensorbox.serialNumber %>-hum"></canvas>
                                    </div>
                                    <div class="col-md-3 border border-success rounded-4 p-0">
                                        <canvas style="display: block; width: 100%; height: 100%;" id="<%= sensorbox.serialNumber %>-CO2"></canvas>
                                    </div>
                                    <div class="col-md-3 border border-success rounded-4 p-0">
                                        <canvas style="display: block; width: 100%; height: 100%;" id="<%= sensorbox.serialNumber %>-moist"></canvas>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <ul class="mt-4 text-start border border-success rounded-4">
                                <% logs.forEach(function(sensorboxLogs){ if (sensorboxLogs.serialNumber == sensorbox.serialNumber) { sensorboxLogs.recentLogs.forEach((log) => { %>
                                    <li>
                                        <%= log.date.toLocaleString() %> <%= log.action %>
                                    </li>
                                <% }); } }); %>
                            </ul>
                        </div>
                    </div>
                </div>
            <% }); %>
            <div class="d-flex justify-content-center">
                <a class="btn btn-outline-success rounded-circle d-flex align-items-center justify-content-center" href="/adopt" style="width: 74px; height: 74px;" role="button">
                    <i class="fa-solid fa-plus fa-2xl"></i>
                </a>
            </div>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/chart.js@4.4.0/dist/chart.umd.min.js"></script>
<script src="https://unpkg.com/mqtt@5.2.1/dist/mqtt.js"></script>
<script> const sensorboxes = [<% sensorboxes.forEach(function(sensorbox){ %>"<%= sensorbox.serialNumber %>", <% }); %>]; </script>
<script src="/dashboard.js"></script>
<%- include('footer') -%>