<%- include('header') -%>
<%- include('navbar') -%>
<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-2 text-start">
            <h1 class="mb-4 mt-3">
                <%= greenery.name %>
            </h1>
        </div>
        <div class="col-md-2 text-end">
            <button onclick="changeDelLink('/greenery/<%= greenery._id %>/del')" type="button" class="btn btn-danger mt-4" data-bs-toggle="modal" data-bs-target="#delModal">
                Delete
            </button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <% if (typeof deleteError !== 'undefined') { %>
                <div class="alert alert-danger"><%= deleteError %></div>
            <% } %>
            <table class="table table-striped table-bordered border-success">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Low Threshold</th>
                        <th scope="col">High Threshold</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <% if (typeof greenery.tempLowThreshold !== 'undefined') { %>
                        <tr>
                            <th scope="row">Temperature</th>
                            <td><%= greenery.tempLowThreshold %> C°</td>
                            <td><%= greenery.tempHighThreshold %> C°</td>
                            <td style="width:30px;white-space: nowrap">
                                <button onclick="changeDelLink('/greenery/<%= greenery._id %>/temp/del')" type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#delModal">
                                    <i class="fa-regular fa-trash-can"></i>
                                </button>
                            </td>
                        </tr>
                    <% } %>
                    <% if (typeof greenery.humLowThreshold !== 'undefined') { %>
                        <tr>
                            <th scope="row">Humidity</th>
                            <td><%= greenery.humLowThreshold %> %</td>
                            <td><%= greenery.humHighThreshold %> %</td>
                            <td style="width:30px;white-space: nowrap">
                                <button onclick="changeDelLink('/greenery/<%= greenery._id %>/hum/del')" type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#delModal">
                                    <i class="fa-regular fa-trash-can"></i>
                                </button>
                            </td>
                        </tr>
                    <% } %>
                    <% if (typeof greenery.CO2LowThreshold !== 'undefined') { %>
                        <tr>
                            <th scope="row">CO2</th>
                            <td><%= greenery.CO2LowThreshold %> ppm</td>
                            <td><%= greenery.CO2HighThreshold %> ppm</td>
                            <td style="width:30px;white-space: nowrap">
                                <button onclick="changeDelLink('/greenery/<%= greenery._id %>/CO2/del')" type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#delModal">
                                    <i class="fa-regular fa-trash-can"></i>
                                </button>
                            </td>
                        </tr>
                    <% } %>
                    <% if (typeof greenery.moistLowThreshold !== 'undefined') { %>
                        <tr>
                            <th scope="row">Soil moisture</th>
                            <td><%= greenery.moistLowThreshold %> %</td>
                            <td><%= greenery.moistHighThreshold %> %</td>
                            <td style="width:30px;white-space: nowrap">
                                <button onclick="changeDelLink('/greenery/<%= greenery._id %>/moist/del')" type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#delModal">
                                    <i class="fa-regular fa-trash-can"></i>
                                </button>
                            </td>
                        </tr>
                    <% } %>
                    <% if (typeof greenery.tempLowThreshold === 'undefined' && typeof greenery.humLowThreshold === 'undefined' && typeof greenery.CO2LowThreshold === 'undefined' && typeof greenery.moistLowThreshold === 'undefined') { %>
                        <tr>
                            <td class="text-center fst-italic" colspan="4">No constraints</td>
                        </tr>
                    <% } %>
                </tbody>
            </table>
            <% if (typeof error !== 'undefined') { %>
                <div class="alert alert-danger"><%= error %></div>
            <% } %>
            <div class="d-flex justify-content-center">
                <button type="button" class="btn btn-outline-success rounded-circle d-flex align-items-center justify-content-center" style="width: 74px; height: 74px;" data-bs-toggle="modal" data-bs-target="#newModal">
                    <i class="fa-solid fa-plus fa-2xl"></i>
                </button>
            </div>
        </div>
    </div>
</div>

<div class="modal modal-lg fade" id="newModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body text-center">
                <h5 class="mb-5">New constraint</h5>
                <form method="POST">
                    <select onchange="changeUnitLabel(this.options[this.selectedIndex].dataset.unit)" class="form-select mt-3 mb-4" id="source" name="source">
                        <% if (typeof greenery.tempLowThreshold === 'undefined') { %>
                            <option value="temp" data-unit="C°">Temperature</option>
                        <% } %>
                        <% if (typeof greenery.humLowThreshold === 'undefined') { %>
                            <option value="hum" data-unit="%">Humidity</option>
                        <% } %>
                        <% if (typeof greenery.CO2LowThreshold === 'undefined') { %>
                            <option value="CO2" data-unit="ppm">CO2</option>
                        <% } %>
                        <% if (typeof greenery.moistLowThreshold === 'undefined') { %>
                            <option value="moist" data-unit="%">Soil moisture</option>
                        <% } %>
                        <% if (typeof greenery.tempLowThreshold !== 'undefined' && typeof greenery.humLowThreshold !== 'undefined' && typeof greenery.CO2LowThreshold !== 'undefined' && typeof greenery.moistLowThreshold !== 'undefined') { %>
                            <option value="-" data-unit="-">-</option>
                        <% } %>
                    </select>
                    <div class="container ps-0 pe-0">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="input-group">
                                    <input type="number" class="form-control" placeholder="Low threshold" oninput="allowCustomValue(this)" id="low" name="lowThresh">
                                    <span class="input-group-text unitlabel"></span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="input-group">
                                    <input type="number" class="form-control" placeholder="High threshold" oninput="allowCustomValue(this)" id="high" name="highThresh">
                                    <span class="input-group-text unitlabel"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mt-5">
                        <input type=submit class="btn btn-success" value="Save"/>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    function changeUnitLabel(unit) {
        var u = document.getElementsByClassName("unitlabel");
        for (var i = 0; i < u.length; i++)
            u[i].innerHTML = unit;
    }

    var s = document.getElementById("source");
    changeUnitLabel(s.options[s.selectedIndex].dataset.unit);
</script>
<%- include('allowcustomvalue') -%>
<%- include('delmodal') -%>
<%- include('footer') -%>